@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

.main-container {
  margin: 5% 10%;
}

.columns {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 2em;

  h2 {
    color: v.$salmon;
  }

  .buttons {
    @include m.flexbox(row, wrap, center, center, center);
    
    .need, .donate {
      width: 44%;
      padding: 10% 1%;
    }

    .need {
      @include m.bigButton(v.$orange);
      margin: 0 3% 0 0;
    }

    .donate {
      @include m.bigButton(v.$lightTeal);
      margin: 0 0 0 3%;
    }

    .support {
      @include m.bigButton(v.$salmon);
      width: 60%;
      margin: 6%;
      padding: 5%;
    }

    .need, .donate, .support {
      &:hover {
        @include m.buttonHover(3em)
      }
    }
  }
}