@use "../Styles/mixins" as m;
@use "../Styles/variables" as v;

.main-container {
  margin: 5% 10%;
  height: 100vh;
}

.columns {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 2em;

  h2 {
    color: v.$salmon;
  }

  .buttons {
    // @include m.flexbox(row, wrap, flex-start, space-evenly, center);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    height: 50%;

    .need, .donate, .support {
      @include m.flexbox(row, nowrap, normal, center, center);
      text-align: center;
    }
    
    .need, .donate {
      padding: 10% 1%;
    }

    .need {
      @include m.bigButton(v.$orange);
    }

    .donate {
      @include m.bigButton(v.$lightTeal);
    }

    .support {
      @include m.bigButton(v.$salmon);
      // grid-row: 2;
      grid-column: auto / span 2;
      margin: 0 8%;
    }

    .need,
    .donate,
    .support {
      &:hover {
        @include m.buttonHover(3em);
      }
    }
  }
}

/*
##Device = Desktops/MacBook
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  // .columns {
  //   .buttons {
  //     .need, .donate {
  //       width: 8em;
  //     }
  //   }
  // }
}

/*
 ##Device = Laptops, Desktops
 ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  // .columns {
  //   @include m.flexbox(row, wrap, flex-start, center, normal); 

  // .buttons {
  //     .need, .donate {
  //       // width: 6em;
  //     }
  //   }
  // }
}
 
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    // .columns {
    //   @include m.flexbox(row, wrap, flex-start, center, normal); 
    // }
  }

  /*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    // .columns {
    //   @include m.flexbox(row, wrap, flex-start, center, normal); 
    // }
  }

  /*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    // .columns {
    //   @include m.flexbox(row, wrap, flex-start, center, normal); 
    // }
  }

  /*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {
    // .columns {
    //   @include m.flexbox(row, wrap, flex-start, center, normal); 

    //   .buttons {
    //     flex-direction: column;
    //     align-content: center;
    //   }
    // }
  }
