@use '../../Styles/mixins' as m;
@use '../../Styles/variables' as v;

.about-page {
  height: 100%;
}

.team-container {
  margin-top: 5%;
  
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;

    .member-card {
      @include m.flexbox(column, wrap, center, center, center);
      text-align: center;
      
      .bio-photo {
        margin: 5%;
        border-radius: 50em;
        width: 85%;
        @include m.buttonShadow();
        
        &:hover {
          @include m.buttonHover(1.2em);
        }
      }

      h3 {
        font-size: 1.5em;

        &:hover {
          @include m.buttonHover(1.7em);
        }
      }

      .social-links {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 5%;

        .social-icon {
          max-height: 1.75em;

          &:hover {
            @include m.buttonHover(1em);
          }
        }
      }

    }

    .col-1 {
      @include m.flexbox(column, wrap, normal, center, center);
    }

    .col-2 {
      h3 {
        margin: 5% 0 2% 0;
      }

      .social-link {
        display: flex;
        align-items: center;
        margin: 1%;

        .social-icon {
          max-height: 1.75em;
        }

        .link {
          margin: 0 1%;
        }
      }
    }
  }
}