@use '../Styles/Reset.scss';
@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

body {
  background-color: v.$offWhite;
  height: 100vh;
}

.App {
  font-family: v.$bodyFont;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: v.$headerFont;
}

h2 {
  font-size: 2em;
}

p {
  margin: 0.5em 0;
  color: v.$darkBlue;
  font-weight: 600;
  line-height: 1.25em;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:focus { text-decoration: none; }