@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

.donor-form {
  p {
    color: v.$orange;
    font-style: italic;
    font-size: 1em !important;
  }

  .form-question {
    color: v.$offBlack;
    margin: 2% 0 0 0;
    font-style: normal;
    font-size: 1.2em !important;
  }

  .form-group {
    display: flex;
    align-items: center;
  }
}