@use './variables' as v;

@mixin flexbox($direction, $wrap, $alignContent, $justify, $alignItems) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-content: $alignContent;
  justify-content: $justify;
  align-items: $alignItems;
}

@mixin flexgrid($alignContent, $justifyContent, $alignItems, $justifyItems) {
  display: grid;
  align-content: $alignContent;
  justify-content: $justifyContent;
  align-items: $alignItems;
  justify-items: $justifyItems;
}

@mixin bigButton($backgroundColor) {
  background-color: $backgroundColor;
  color: v.$offWhite;
  font-family: v.$headerFont;
  font-size: 2.5em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 2px 3px 6px 3px #6b6b6b;
  text-align: center;
}

@mixin buttonHover($fontSize) {
  cursor: pointer;
  transform: scale(1.08);
  font-size: $fontSize;
}

@mixin button($backgroundColor, $textColor, $font) {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $font;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  border-radius: 1.5em;
  text-align: center;
  padding: 2%;
}

@mixin buttonShadow() {
  box-shadow: 2px 3px 6px 3px #6b6b6b;
}