// Fonts
$headerFont: 'Acme', sans-serif;
$bodyFont: 'Thasadith', sans-serif;

// Colors
$offWhite: #F2F2F2;
$offBlack: #020202;
$darkTeal: #03738C;
$brightOrange: #db7d2b;
$orange: #d26709;
$darkBlue: #0D2C40;
$lightTeal: #0582a1;
$salmon: #cb483b;
$lightGray: #d5d5d5;
$mediumGray: #7B7B7B;