@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

header {
  background-color: v.$darkTeal;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  padding: 1%;
  align-items: center;
  
  .logo {
    line-height: 3em;

    .logo-link {
      display: flex;
      align-items: center;

      .baby-logo {
        &:hover {
          display: inline-block;
          
          animation: pulse; 
          animation-duration: 2s;
        }  
      }
      
      .logo-text {

        h1 {
          font-size: 4em;
          font-weight: 600;
          color: v.$offWhite;
      
          &:hover {
            cursor: pointer;
          }
          .baby-bottle {
            width: 11%;
            margin: 1%;
          }
        }
      }
    }
  }

  nav {
    @include m.flexbox(row, nowrap, normal, flex-end, normal);
    white-space: nowrap;

    a {
      color: inherit;
    }

    a.active {
      border-bottom: 4px solid v.$orange;
      padding-bottom: 20%;
    }
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include m.flexbox(row, nowrap, normal, flex-end, flex-start);

    li {
      color: v.$offWhite;
      letter-spacing: 0.02em;
      position: relative;
      padding: 0 5%;
      border-right: 2px solid v.$offWhite;
      font-size: 1.2em;
      font-weight: 600;
    }

    li:last-child {
      border-right: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;

    .logo {
      .logo-link {
        .baby-logo {
          width: 20%;
        }
        
        .logo-text {
          h1 {
            font-size: 2em;
          }
        }
      }
    }

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }
   
   

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    flex-direction: column;
    align-items: flex-start;

    .logo {
      .logo-link {
        .baby-logo {
          width: 20%;
        }
        
        .logo-text {
          h1 {
            font-size: 2em;
          }
        }
      }
    }

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;

    .logo {
      line-height: 1.5em;
      .logo-link {
        .baby-logo {
          width: 30%;
        }
        
        .logo-text {
          h1 {
            font-size: 1.5em;
          }
        }
      }
    }

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;

    .logo {
      line-height: 1.5em;
      .logo-link {
        .baby-logo {
          width: 35%;
        }

        .logo-text {
          h1 {
            font-size: 1.5em;
          }
        }
      }
    }

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }
}