@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

header {
  background-color: v.$darkTeal;
  @include m.flexbox(row, nowrap, normal, space-between, center);
  padding: 2%;
  
  .logo {
    flex: 1;
    line-height: 3em;

    h1 {
      font-size: 3em;
      font-weight: 600;
      color: v.$offWhite;
  
      &:hover {
        cursor: pointer;
      }
    }
  }


  nav {
    flex: 1;
    @include m.flexbox(row, nowrap, normal, flex-end, normal);
    white-space: nowrap;

    a {
      color: inherit;
    }

    a.active {
      border-bottom: 4px solid v.$orange;
      padding-bottom: 20%;
    }
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include m.flexbox(row, nowrap, normal, flex-end, flex-start);

    li {
      color: v.$offWhite;
      letter-spacing: 0.02em;
      position: relative;
      padding: 0 5%;
      border-right: 2px solid v.$offWhite;
      font-size: 1.2em;
      font-weight: 600;
    }

    li:last-child {
      border-right: none;
    }
  }

  /*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }

  /*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }

  /*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;

    nav {
      .menu {
        flex-wrap: wrap;
      }

      .mobile-hidden {
        display: none;
      }
    }
  }
}