@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

.main-container {
  h2 {
    color: v.$salmon;
  }

  .error-message {
    font-size: 3em;
    font-family: v.$bodyFont;
    padding: 5%;
  }

  .donor-error {
    color: v.$salmon;
    height: 100vh;
    font-size: 3em;
  }

  a {
    color: v.$darkTeal;

    &:visited {
      color: v.$salmon;
    }
  }

  p {
    font-size: 1.2em;
  }

  .error {
    color: v.$salmon;
    font-style: italic;
    font-size: 1em;
  }

  form {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;

    label {
      padding: 2% 1% 1%;
      font-size: 1em;
      font-family: v.$bodyFont;
      font-weight: 600;
      letter-spacing: 1px;
    }
    
    input, textarea {
      height: 2em;
      background-color: v.$lightGray;
      color: v.$mediumGray;
      border: none;
      font-family: v.$bodyFont;
      font-weight: 600;
      font-size: 1.2em;
      border-radius: 0.2em;
      padding: 0 2%;
    }

    input[type=text], input[type=email], input[type=tel], textarea[type='text'] {
      color: v.$offBlack;
    }

    textarea {
      height: 6em;
      padding: 1% 2%;
      min-height: 10em;
    }

    .button {
      @include m.button(v.$orange, v.$offBlack, v.$bodyFont);
      @include m.buttonShadow();
      margin: 4% 0 4% 60%;

      &:hover {
        @include m.buttonHover(1.2em)
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 2%;
  }

  .main-container {
    form {
      width: 100%;
      height: 100%;
      
      .button {
        margin: 4%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    padding: 2%;
  }

  .main-container {
    form {
      width: 100%;
      height: 100%;
      
      .button {
        margin: 4%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 2%;
  }
  
  .main-container {
    form {
      width: 100%;
      height: 100%;

      .button {
        margin: 4%;
      }
    }
  }
}
