@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

.contact-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1em;
  margin: 2% 0;

  .contact-card {
    background-color: v.$brightOrange;
    padding: 10%;
    border-radius: 1.5em;
    @include m.buttonShadow();
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}