@use '../Styles/mixins' as m;
@use '../Styles/variables' as v;

.support-links {
  @include m.flexbox(row, wrap, normal, center, normal);
  margin: 5% 2% 20% 2%;
  padding-bottom: 25%;

  .support-button {
    display: block;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin: 1%;
    padding: 2%;
    font-family: v.$bodyFont;
    font-size: 1em;
    font-weight: bolder;
    border: none;
    background-color: v.$salmon;
    color: v.$offWhite;
    box-shadow: 2px 3px 6px 3px #6b6b6b;

    &:hover {
      @include m.buttonHover(1.2em)
    }
  }
}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .support-links .support-button {
      height: 8em;
      width: 8em;
  }
}